body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0px;
    width: 250px;
    height: 100%;
    border-right: 5px solid #2f3336;
    padding: 0px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.menu-item {
    display: block;
    padding: 12px 0;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.menu-item:hover,
.menu-item.active {
    color: #1d9bf0;
}

.main {
    margin-left: 250px;
    height: 100vh;
    overflow-y: auto;
}

.header {
    position: sticky;
    top: 0;
    background: #000;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 5px solid #2f3336;
}

.post-box {
    padding: 15px;
    border-bottom: 1px solid #2f3336;
}

.post-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
}

.post-btn {
    background: #1d9bf0;
    border: none;
    padding: 10px 18px;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.post-btn:hover {
    background: #1a8cd8;
}

.search-box input {
    width: 90%;
    padding: 10px;
    margin: 15px;
    border-radius: 25px;
    border: none;
    background: #202327;
    color: white;
    font-size: 16px;
    outline: none;
}
